@font-face {
  font-family: 'StarJedi';
  src: url('../../fonts/StarJedi.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  //font-display: swap;
}

@font-face {
  font-family: 'StarJediHollow';
  src: url('../../fonts/StarJediHollow.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  //font-display: swap;
}

@font-face {
  font-family: 'AnakinmonoRegular';
  src: url('../../fonts/AnakinmonoRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  //font-display: swap;
}
