$primaryFont: 'StarJedi', serif;
$secondaryFont: 'StarJediHollow', serif;
$regularFont: 'AnakinmonoRegular', serif;

$colorMain: #0032A0;
$colorMainDarker: #002983;
$colorMainLighter: rgba(0, 41, 131, 0.4);
$colorMainOpacity: rgba(0, 41, 131, 0.2);
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorWhiteOpacity: rgba(255, 255, 255, 0.2);

$colorBg: $colorWhite;
$colorGray: #ECEDF0;
$colorGray2: #e7e7e7;
//$colorGray4: #AAAAAA;

$colorLink: #0085FF;

$colorError: #E40F36;
$colorText: #00133C;
$colorText2: $colorWhite;
$colorText3: rgba(255, 255, 255, 0.4);


$indent4: 4px;
$indent8: 8px;
$indent12: 12px;
$indent14: 14px;
$indent15: 15px;
$indent16: 16px;
$indent17: 17px;
$indent20: 20px;
$indent25: 25px;
$indent26: 26px;
$indent30: 30px;
$indent32: 32px;
$indent34: 34px;
$indent38: 38px;
$indent40: 40px;
$indent48: 48px;
$indent50: 50px;
$indent51: 51px;
$indent60: 60px;
$indent70: 70px;
$indent80: 80px;
$indent90: 90px;
$indent100: 100px;
$indent120: 120px;
$indent200: 200px;

$headerHeight: 120px;
$headerHeightMobile: 56px;


$borderRadius4: 4px;
$borderRadius8: 8px;
$borderRadius11: 11px;
$borderRadius16: 16px;
